


<div class="container d-flex flex-column">
    <div class="card mt-3 p-3   " >
<p style="font-size: 20px; line-height: 1.1;">
  hola
  <em class="text-body-secondary" style="display:block; line-height: 1; font-size: 13px;">
    de mathias
  </em>
</p>
        <p class="display-6 fs-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed sapiente adipisci, ipsa eaque ut id nam maxime iusto harum, alias deserunt corrupti error quae cumque illum incidunt, vero veritatis fuga! Corporis veniam minus, ab dignissimos quos exercitationem corrupti maiores incidunt odit adipisci ullam labore perferendis voluptate laboriosam, sunt sapiente natus.</p>
    </div>
</div>
